body{
    background-image: url(images/berry.jpg);
    background-size: auto ;
    
}
.nav-bar{
    background-color: rgb(255, 179, 213);
    display: flex;
    justify-content: space-between ;
    border-radius: 10px ;
    height: 70px ;
    margin: 3%;
    box-shadow: 10px 10px 5px rgba(114, 93, 93, .50) ;
}   
.nav-options{
    display: flex;
    list-style: none;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    color: white;
    border-spacing: 10px;
    align-content: center;
    padding: 0% 1%;
}
.header{
    margin-left: 15px;
    align-content:center;
    color: white;
    font-weight: bold;
    font-style: italic;
    padding: 1%;
}
.opt a{
    text-decoration: none;
    color: white;
    display: block;
    background-color: rgb(249, 111, 173);
    border-radius: 10px;
    padding: 5px 5px;
    margin: 5px;
    width: 78px;
    text-align: center;
    box-shadow: 2px 2px 2px rgba(114, 93, 93, .50) ;
}
.opt a:hover{
    color: pink;
    font-size: 120%;
}
.about-body{
    background-color: rgba(146, 126, 146, 0.8);
    border-radius: 15px;
    margin: 2% 3%;
    display: flex;
    justify-content: space-between;
}
.about-me{
    color: azure;
    font-family:"Comic Sans MS",cursive, sans-serif;
    font-style:normal;
    padding: 2%;
}
.dp-div{
    padding: 3%;
    flex: 0 0 30%;
}
.dp{
    border: 5px solid pink;
    border-radius: 10%;
    box-sizing: border-box;
    display: block;
    height: auto;
    width: 300px;
    box-sizing: border-box;
}
.p-abt{
    text-indent: auto;
}